In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .appName("Basics")\
        .getOrCreate()

spark.version

'4.0.1'

First Dataframe

In [8]:
data = [
    {"name":"Arjun","age":21},
     {"name":"Sara","age":19},
     {"name":"Dinesh","age":25}
]

df = spark.createDataFrame(data)
df.show()

+---+------+
|age|  name|
+---+------+
| 21| Arjun|
| 19|  Sara|
| 25|Dinesh|
+---+------+

In [10]:
df.printSchema()
df.select("name").show()
df.select("name","age").show()
df.filter(df.age>20).show()
df.filter(df.name=="Sara").show()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

+------+
|  name|
+------+
| Arjun|
|  Sara|
|Dinesh|
+------+

+------+---+
|  name|age|
+------+---+
| Arjun| 21|
|  Sara| 19|
|Dinesh| 25|
+------+---+

+---+------+
|age|  name|
+---+------+
| 21| Arjun|
| 25|Dinesh|
+---+------+

+---+----+
|age|name|
+---+----+
| 19|Sara|
+---+----+

In [12]:
from pyspark.sql.functions import col

df=df.withColumn("age_plus_5",col("age")+5)
df.show()

+---+------+----------+
|age|  name|age_plus_5|
+---+------+----------+
| 21| Arjun|        26|
| 19|  Sara|        24|
| 25|Dinesh|        30|
+---+------+----------+

In [15]:
from pyspark.sql.functions import lower
df=df.withColumn("name_lower",lower(col("name")))
df.show()
df.drop("age").show()

+---+------+----------+----------+
|age|  name|age_plus_5|name_lower|
+---+------+----------+----------+
| 21| Arjun|        26|     arjun|
| 19|  Sara|        24|      sara|
| 25|Dinesh|        30|    dinesh|
+---+------+----------+----------+

+------+----------+----------+
|  name|age_plus_5|name_lower|
+------+----------+----------+
| Arjun|        26|     arjun|
|  Sara|        24|      sara|
|Dinesh|        30|    dinesh|
+------+----------+----------+

+---+------+----------+----------+
|age|  name|age_plus_5|name_lower|
+---+------+----------+----------+
| 21| Arjun|        26|     arjun|
| 19|  Sara|        24|      sara|
| 25|Dinesh|        30|    dinesh|
+---+------+----------+----------+

In [19]:
data = [
("C001", "Arjun", "Hyderabad", 25, 45000, "Electronics"),
("C002", "Meera", "Chennai", 32, 52000, "Grocery"),
("C003", "Rajesh", "Bangalore", 29, 61000, "Clothing"),
("C004", "Priya", "Delhi", 22, 38000, "Grocery"),
("C005", "Sanjay", "Mumbai", 35, 72000, "Electronics"),
("C006", "Kavya", "Hyderabad", 28, 48000, "Grocery"),
("C007", "Imran", "Delhi", 31, 53000, "Clothing"),
("C008", "Divya", "Chennai", 27, 45000, "Electronics"),
("C009", "Anil", "Bangalore", 40, 85000, "Furniture"),
("C010", "Ritu", "Mumbai", 23, 39000, "Clothing"),
("C011", "Hari", "Hyderabad", 33, 56000, "Grocery"),
("C012", "Sana", "Delhi", 26, 47000, "Electronics"),
("C013", "Vikram", "Chennai", 38, 91000, "Furniture"),
("C014", "Deepa", "Mumbai", 30, 62000, "Clothing"),
("C015", "Asha", "Bangalore", 24, 41000, "Grocery"),
("C016", "Kiran", "Delhi", 29, 59000, "Furniture"),
("C017", "Farah", "Hyderabad", 36, 70000, "Clothing"),
("C018", "Tarun", "Chennai", 28, 53000, "Furniture"),
("C019", "Nisha", "Mumbai", 21, 35000, "Grocery"),
("C020", "Yusuf", "Bangalore", 34, 76000, "Electronics"),
("C021", "Pooja", "Delhi", 27, 47000, "Clothing"),
("C022", "Zara", "Hyderabad", 32, 58000, "Grocery"),
("C023", "Ajay", "Chennai", 30, 51000, "Furniture"),
("C024", "Reema", "Bangalore", 28, 49000, "Clothing"),
("C025", "Gautam", "Mumbai", 39, 82000, "Furniture"),
("C026", "Swati", "Delhi", 25, 46000, "Electronics"),
("C027", "Mahesh", "Hyderabad", 41, 90000, "Furniture"),
("C028", "Anita", "Chennai", 26, 44000, "Clothing"),
("C029", "Sameer", "Bangalore", 33, 68000, "Electronics"),
("C030", "Leela", "Delhi", 22, 36000, "Grocery")
]
columns = ["customer_id", "name", "city", "age", "annual_spend", "category"]
df1=spark.createDataFrame(data,columns)
df1.show(10)
df1.select("city").distinct().show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend|   category|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
+-----------+------+---------+---+------------+-----------+
only showing top 10 rows
+---------+
|     city|
+---------+
|Bangalore|
|  Chennai|
|   Mumbai|
|    Delhi|
|Hyderabad|
+---------+

In [20]:
df1.select("customer_id","name","annual_spend").show()

+-----------+------+------------+
|customer_id|  name|annual_spend|
+-----------+------+------------+
|       C001| Arjun|       45000|
|       C002| Meera|       52000|
|       C003|Rajesh|       61000|
|       C004| Priya|       38000|
|       C005|Sanjay|       72000|
|       C006| Kavya|       48000|
|       C007| Imran|       53000|
|       C008| Divya|       45000|
|       C009|  Anil|       85000|
|       C010|  Ritu|       39000|
|       C011|  Hari|       56000|
|       C012|  Sana|       47000|
|       C013|Vikram|       91000|
|       C014| Deepa|       62000|
|       C015|  Asha|       41000|
|       C016| Kiran|       59000|
|       C017| Farah|       70000|
|       C018| Tarun|       53000|
|       C019| Nisha|       35000|
|       C020| Yusuf|       76000|
+-----------+------+------------+
only showing top 20 rows

In [21]:
df1.filter(df1.annual_spend>60000).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend|   category|
+-----------+------+---------+---+------------+-----------+
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|
+-----------+------+---------+---+------------+-----------+

In [26]:
df1.filter((df1.city=="Delhi") & (df1.age<30)).show()

+-----------+-----+-----+---+------------+-----------+
|customer_id| name| city|age|annual_spend|   category|
+-----------+-----+-----+---+------------+-----------+
|       C004|Priya|Delhi| 22|       38000|    Grocery|
|       C012| Sana|Delhi| 26|       47000|Electronics|
|       C016|Kiran|Delhi| 29|       59000|  Furniture|
|       C021|Pooja|Delhi| 27|       47000|   Clothing|
|       C026|Swati|Delhi| 25|       46000|Electronics|
|       C030|Leela|Delhi| 22|       36000|    Grocery|
+-----------+-----+-----+---+------------+-----------+

In [27]:
from pyspark.sql.functions import col

df1=df1.withColumn("spend_lakh",col("annual_spend")/100000)
df1.show()

+-----------+------+---------+---+------------+-----------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|
+-----------+------+---------+---+------------+-----------+----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|
+-----------+------+---------+---+------------+-----------+----------+
only showing top 20 rows

In [31]:
from pyspark.sql.functions import col,when

df1=df1.withColumn("customer_type", when(col("annual_spend") > 70000, "Premium").otherwise("Standard"))
df1.show()

+-----------+------+---------+---+------------+-----------+----------+-------------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|customer_type|
+-----------+------+---------+---+------------+-----------+----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     Standard|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|     Standard|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|      Premium|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|     Standard|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium|
+-----------+------+---------+---+------------+-----------+----------+-------------+
only showing top 20 rows