In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .appName("Reading files")\
        .getOrCreate()

spark.version

'4.0.1'

In [2]:
data = [
    ("O001","Amit","Hyderabad","Spice Hub","Indian",450,35,"UPI","Delivered"),
    ("O002","Neha","Bangalore","Pizza Town","Italian",650,40,"Card","Delivered"),
    ("O003","Rahul","Delhi","Burger Zone","American",520,30,"Cash","Delivered"),
    ("O004","Pooja","Mumbai","Sushi Bar","Japanese",1200,55,"UPI","Cancelled"),
    ("O005","Arjun","Chennai","Curry Leaf","Indian",380,28,"UPI","Delivered"),
    ("O006","Sneha","Hyderabad","Pasta Street","Italian",700,45,"Card","Delivered"),
    ("O007","Karan","Delhi","Taco Bell","Mexican",540,33,"UPI","Delivered"),
    ("O008","Riya","Bangalore","Dragon Bowl","Chinese",600,38,"Wallet","Delivered"),
    ("O009","Vikas","Mumbai","BBQ Nation","Indian",1500,60,"Card","Delivered"),
    ("O010","Anjali","Chennai","Burger Zone","American",480,32,"Cash","Delivered"),
    ("O011","Farhan","Delhi","Biryani House","Indian",520,36,"UPI","Delivered"),
    ("O012","Megha","Hyderabad","Sushi Bar","Japanese",1100,58,"Card","Cancelled"),
    ("O013","Suresh","Bangalore","Curry Leaf","Indian",420,29,"UPI","Delivered"),
    ("O014","Divya","Mumbai","Pizza Town","Italian",780,42,"Wallet","Delivered"),
    ("O015","Nikhil","Delhi","Pasta Street","Italian",690,47,"UPI","Delivered"),
    ("O016","Kavya","Chennai","Dragon Bowl","Chinese",560,34,"UPI","Delivered"),
    ("O017","Rohit","Hyderabad","BBQ Nation","Indian",1400,62,"Card","Delivered"),
    ("O018","Simran","Bangalore","Burger Zone","American",510,31,"Cash","Delivered"),
    ("O019","Ayesha","Mumbai","Taco Bell","Mexican",570,35,"UPI","Delivered"),
    ("O020","Manish","Delhi","Curry Leaf","Indian",390,27,"Wallet","Delivered"),
    ("O021","Priya","Hyderabad","Pizza Town","Italian",720,41,"Card","Delivered"),
    ("O022","Yash","Chennai","Sushi Bar","Japanese",1150,57,"UPI","Delivered"),
    ("O023","Naina","Bangalore","Pasta Street","Italian",680,44,"UPI","Delivered"),
    ("O024","Sameer","Mumbai","Dragon Bowl","Chinese",610,39,"Wallet","Delivered"),
    ("O025","Ritika","Delhi","Burger Zone","American",500,30,"Cash","Delivered"),
    ("O026","Gopal","Hyderabad","Curry Leaf","Indian",410,28,"UPI","Delivered"),
    ("O027","Tina","Bangalore","Pizza Town","Italian",760,43,"Card","Delivered"),
    ("O028","Irfan","Mumbai","BBQ Nation","Indian",1550,65,"Card","Delivered"),
    ("O029","Sahil","Chennai","Taco Bell","Mexican",590,37,"UPI","Delivered"),
    ("O030","Lavanya","Delhi","Dragon Bowl","Chinese",630,40,"Wallet","Delivered"),
    ("O031","Deepak","Hyderabad","Burger Zone","American",520,33,"Cash","Delivered"),
    ("O032","Shweta","Bangalore","Curry Leaf","Indian",450,31,"UPI","Delivered"),
    ("O033","Aman","Mumbai","Pizza Town","Italian",810,46,"Card","Delivered"),
    ("O034","Rekha","Chennai","Pasta Street","Italian",700,45,"UPI","Delivered"),
    ("O035","Zubin","Delhi","BBQ Nation","Indian",1480,63,"Card","Delivered"),
    ("O036","Pallavi","Hyderabad","Dragon Bowl","Chinese",580,36,"Wallet","Delivered"),
    ("O037","Naveen","Bangalore","Taco Bell","Mexican",560,34,"UPI","Delivered"),
    ("O038","Sonia","Mumbai","Sushi Bar","Japanese",1180,59,"Card","Delivered"),
    ("O039","Harish","Chennai","Burger Zone","American",490,29,"Cash","Delivered"),
    ("O040","Kriti","Delhi","Curry Leaf","Indian",420,26,"UPI","Delivered")
]

columns = [
    "order_id","customer_name","city","restaurant","cuisine",
    "order_amount","delivery_time_minutes","payment_mode","order_status"
]

df = spark.createDataFrame(data, columns)
df.show()
df.printSchema()

+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|   restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|    O001|         Amit|Hyderabad|    Spice Hub|  Indian|         450|                   35|         UPI|   Delivered|
|    O002|         Neha|Bangalore|   Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O003|        Rahul|    Delhi|  Burger Zone|American|         520|                   30|        Cash|   Delivered|
|    O004|        Pooja|   Mumbai|    Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O005|        Arjun|  Chennai|   Curry Leaf|  Indian|         380|                   28|         UPI|   Delivered|
|    O006|        Sneha|Hyderabad| Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O007|        Karan|    Delhi|    Taco Bell| Mexican|         540|                   33|         UPI|   Delivered|
|    O008|         Riya|Bangalore|  Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
|    O009|        Vikas|   Mumbai|   BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O010|       Anjali|  Chennai|  Burger Zone|American|         480|                   32|        Cash|   Delivered|
|    O011|       Farhan|    Delhi|Biryani House|  Indian|         520|                   36|         UPI|   Delivered|
|    O012|        Megha|Hyderabad|    Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O013|       Suresh|Bangalore|   Curry Leaf|  Indian|         420|                   29|         UPI|   Delivered|
|    O014|        Divya|   Mumbai|   Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O015|       Nikhil|    Delhi| Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O016|        Kavya|  Chennai|  Dragon Bowl| Chinese|         560|                   34|         UPI|   Delivered|
|    O017|        Rohit|Hyderabad|   BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O018|       Simran|Bangalore|  Burger Zone|American|         510|                   31|        Cash|   Delivered|
|    O019|       Ayesha|   Mumbai|    Taco Bell| Mexican|         570|                   35|         UPI|   Delivered|
|    O020|       Manish|    Delhi|   Curry Leaf|  Indian|         390|                   27|      Wallet|   Delivered|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows
root
 |-- order_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- restaurant: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- order_amount: long (nullable = true)
 |-- delivery_time_minutes: long (nullable = true)
 |-- payment_mode: string (nullable = true)
 |-- order_status: string (nullable = true)

CSV

In [3]:
df.write.option("header", True).csv("orders_csv/")

In [4]:
orders_csv = spark.read.option("header", True).csv("orders_csv/", inferSchema=True)
orders_csv.filter(orders_csv.order_amount > 700).show()

+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|    O021|        Priya|Hyderabad|Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O022|         Yash|  Chennai| Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O027|         Tina|Bangalore|Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O028|        Irfan|   Mumbai|BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O033|         Aman|   Mumbai|Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O035|        Zubin|    Delhi|BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O038|        Sonia|   Mumbai| Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O004|        Pooja|   Mumbai| Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O009|        Vikas|   Mumbai|BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O012|        Megha|Hyderabad| Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O014|        Divya|   Mumbai|Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O017|        Rohit|Hyderabad|BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+

In [5]:
orders_csv.select("order_id", "city", "cuisine", "order_amount").show()

+--------+---------+--------+------------+
|order_id|     city| cuisine|order_amount|
+--------+---------+--------+------------+
|    O021|Hyderabad| Italian|         720|
|    O022|  Chennai|Japanese|        1150|
|    O023|Bangalore| Italian|         680|
|    O024|   Mumbai| Chinese|         610|
|    O025|    Delhi|American|         500|
|    O026|Hyderabad|  Indian|         410|
|    O027|Bangalore| Italian|         760|
|    O028|   Mumbai|  Indian|        1550|
|    O029|  Chennai| Mexican|         590|
|    O030|    Delhi| Chinese|         630|
|    O031|Hyderabad|American|         520|
|    O032|Bangalore|  Indian|         450|
|    O033|   Mumbai| Italian|         810|
|    O034|  Chennai| Italian|         700|
|    O035|    Delhi|  Indian|        1480|
|    O036|Hyderabad| Chinese|         580|
|    O037|Bangalore| Mexican|         560|
|    O038|   Mumbai|Japanese|        1180|
|    O039|  Chennai|American|         490|
|    O040|    Delhi|  Indian|         420|
+--------+---------+--------+------------+
only showing top 20 rows

In [6]:
sorted_orders = orders_csv.orderBy(orders_csv.delivery_time_minutes.desc())
sorted_orders.write.option("header", True).csv("orders_sorted_csv/")

# JSON

In [7]:
df.filter(df.order_status == "Delivered").write.json("delivered_orders_json/")

In [8]:
delivered_json = spark.read.json("delivered_orders_json/")
delivered_json.filter((delivered_json.city == "Mumbai") &
                      (delivered_json.payment_mode == "Card")).show()

+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|  city| cuisine|customer_name|delivery_time_minutes|order_amount|order_id|order_status|payment_mode|restaurant|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|Mumbai|  Indian|        Irfan|                   65|        1550|    O028|   Delivered|        Card|BBQ Nation|
|Mumbai| Italian|         Aman|                   46|         810|    O033|   Delivered|        Card|Pizza Town|
|Mumbai|Japanese|        Sonia|                   59|        1180|    O038|   Delivered|        Card| Sushi Bar|
|Mumbai|  Indian|        Vikas|                   60|        1500|    O009|   Delivered|        Card|BBQ Nation|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+

In [9]:
from pyspark.sql.functions import when

updated_json = delivered_json.withColumn(
    "delivery_category",
    when(delivered_json.delivery_time_minutes > 45, "Late").otherwise("OnTime")
)

updated_json.write.json("delivery_category_json/")

In [10]:
updated_json.coalesce(1).write.json("single_partition_json/")

PARQUET

In [11]:
df.write.parquet("orders_parquet/")

In [12]:
orders_parquet = spark.read.parquet("orders_parquet/")
orders_parquet.filter((orders_parquet.cuisine == "Indian") &
                      (orders_parquet.order_amount > 500)).show()

+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|   restaurant|cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+
|    O009|        Vikas|   Mumbai|   BBQ Nation| Indian|        1500|                   60|        Card|   Delivered|
|    O011|       Farhan|    Delhi|Biryani House| Indian|         520|                   36|         UPI|   Delivered|
|    O017|        Rohit|Hyderabad|   BBQ Nation| Indian|        1400|                   62|        Card|   Delivered|
|    O028|        Irfan|   Mumbai|   BBQ Nation| Indian|        1550|                   65|        Card|   Delivered|
|    O035|        Zubin|    Delhi|   BBQ Nation| Indian|        1480|                   63|        Card|   Delivered|
+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+

In [13]:
top10_orders = orders_parquet.orderBy(orders_parquet.order_amount.desc()).limit(10)
top10_orders.write.parquet("top10_orders_parquet/")

In [14]:
csv_df = spark.read.option("header", True).csv("orders_csv/", inferSchema=True)
csv_df.write.parquet("csv_to_parquet/")

json_df = spark.read.json("delivered_orders_json/")
json_df.write.parquet("json_to_parquet/")

In [15]:
parquet_df = spark.read.parquet("orders_parquet/")
parquet_df.write.option("header", True).option("delimiter", "|").csv("parquet_to_csv/")

In [16]:
from pyspark.sql.functions import sum

df.groupBy("cuisine").agg(sum("order_amount").alias("total_amount")) \
  .orderBy("total_amount", ascending=False).show()

+--------+------------+
| cuisine|total_amount|
+--------+------------+
|  Indian|        9370|
| Italian|        6490|
|Japanese|        4630|
|American|        3020|
| Chinese|        2980|
| Mexican|        2260|
+--------+------------+

In [17]:
from pyspark.sql.functions import count

df.groupBy("city").agg(count("order_id").alias("total_orders")) \
  .orderBy("total_orders", ascending=False).show(1)

+-----+------------+
| city|total_orders|
+-----+------------+
|Delhi|           9|
+-----+------------+
only showing top 1 row

In [18]:
df.groupBy("payment_mode").agg(count("order_id").alias("count")) \
  .orderBy("count", ascending=False).show(1)

+------------+-----+
|payment_mode|count|
+------------+-----+
|         UPI|   17|
+------------+-----+
only showing top 1 row

In [19]:
df.repartition(4).write.parquet("orders_repartitioned/")

In [20]:
report_df = df.groupBy("city").agg(
    count("order_id").alias("total_orders"),
    sum("order_amount").alias("total_revenue")
)

report_df.write.parquet("city_report_parquet/")

In [21]:
data = [
("T001","Amit","Hyderabad","Ramesh","Sedan",12.5,320,28,"UPI","Completed"),
("T002","Neha","Bangalore","Suresh","Mini",8.2,210,22,"Card","Completed"),
("T003","Rahul","Delhi","Anil","Bike",5.1,120,15,"Cash","Completed"),
("T004","Pooja","Mumbai","Vikas","SUV",18.0,560,45,"UPI","Cancelled"),
("T005","Arjun","Chennai","Kumar","Mini",7.8,200,20,"UPI","Completed"),
("T006","Sneha","Hyderabad","Ramesh","Sedan",14.2,360,32,"Card","Completed"),
("T007","Karan","Delhi","Anil","Bike",6.3,140,18,"UPI","Completed"),
("T008","Riya","Bangalore","Suresh","Sedan",11.0,300,27,"Wallet","Completed"),
("T009","Vikas","Mumbai","Vijay","SUV",20.5,650,50,"Card","Completed"),
("T010","Anjali","Chennai","Kumar","Bike",4.9,110,14,"Cash","Completed"),
("T011","Farhan","Delhi","Anil","Mini",9.6,240,25,"UPI","Completed"),
("T012","Megha","Hyderabad","Ramesh","SUV",19.2,610,48,"Card","Cancelled"),
("T013","Suresh","Bangalore","Suresh","Sedan",13.0,340,30,"UPI","Completed"),
("T014","Divya","Mumbai","Vikas","Mini",10.2,260,26,"Wallet","Completed"),
("T015","Nikhil","Delhi","Anil","Sedan",15.5,390,34,"UPI","Completed"),
("T016","Kavya","Chennai","Kumar","Sedan",12.1,315,29,"UPI","Completed"),
("T017","Rohit","Hyderabad","Ramesh","SUV",22.0,700,55,"Card","Completed"),
("T018","Simran","Bangalore","Suresh","Bike",5.8,130,16,"Cash","Completed"),
("T019","Ayesha","Mumbai","Vijay","Mini",9.9,250,24,"UPI","Completed"),
("T020","Manish","Delhi","Anil","Bike",6.0,135,17,"Wallet","Completed"),
("T021","Priya","Hyderabad","Ramesh","Sedan",14.8,380,33,"Card","Completed"),
("T022","Yash","Chennai","Kumar","SUV",21.3,680,52,"UPI","Completed"),
("T023","Naina","Bangalore","Suresh","Mini",10.7,270,28,"UPI","Completed"),
("T024","Sameer","Mumbai","Vikas","Sedan",13.9,350,31,"Wallet","Completed"),
("T025","Ritika","Delhi","Anil","Bike",5.4,125,16,"Cash","Completed"),
("T026","Gopal","Hyderabad","Ramesh","Mini",8.9,225,23,"UPI","Completed"),
("T027","Tina","Bangalore","Suresh","Sedan",12.6,330,29,"Card","Completed"),
("T028","Irfan","Mumbai","Vijay","SUV",23.4,740,58,"Card","Completed"),
("T029","Sahil","Chennai","Kumar","Mini",9.4,235,24,"UPI","Completed"),
("T030","Lavanya","Delhi","Anil","Sedan",14.1,365,32,"Wallet","Completed"),
("T031","Deepak","Hyderabad","Ramesh","Bike",6.7,150,18,"Cash","Completed"),
("T032","Shweta","Bangalore","Suresh","Mini",10.0,255,26,"UPI","Completed"),
("T033","Aman","Mumbai","Vikas","Sedan",15.8,395,35,"Card","Completed"),
("T034","Rekha","Chennai","Kumar","Sedan",13.5,345,30,"UPI","Completed"),
("T035","Zubin","Delhi","Anil","SUV",24.0,760,60,"Card","Completed"),
("T036","Pallavi","Hyderabad","Ramesh","Mini",9.1,230,23,"Wallet","Completed"),
("T037","Naveen","Bangalore","Suresh","Bike",5.9,135,17,"UPI","Completed"),
("T038","Sonia","Mumbai","Vijay","SUV",21.7,690,54,"Card","Completed"),
("T039","Harish","Chennai","Kumar","Mini",8.5,215,21,"Cash","Completed"),
("T040","Kriti","Delhi","Anil","Sedan",14.6,375,33,"UPI","Completed"),
("T041","Apoorva","Hyderabad","Ramesh","Sedan",13.2,335,30,"Card","Completed"),
("T042","Mohit","Bangalore","Suresh","SUV",19.9,620,49,"UPI","Completed"),
("T043","Tanvi","Mumbai","Vikas","Mini",10.4,265,27,"Wallet","Completed"),
("T044","Rakesh","Chennai","Kumar","Bike",6.2,140,18,"Cash","Completed"),
("T045","Isha","Delhi","Anil","Mini",9.7,245,25,"UPI","Completed"),

]
columns = [
"trip_id","rider_name","city","driver_name","vehicle_type",
"distance_km","trip_fare","trip_duration_minutes",
"payment_mode","trip_status"]

df = spark.createDataFrame(data, columns)
df.show()
df.printSchema()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T001|      Amit|Hyderabad|     Ramesh|       Sedan|       12.5|      320|                   28|         UPI|  Completed|
|   T002|      Neha|Bangalore|     Suresh|        Mini|        8.2|      210|                   22|        Card|  Completed|
|   T003|     Rahul|    Delhi|       Anil|        Bike|        5.1|      120|                   15|        Cash|  Completed|
|   T004|     Pooja|   Mumbai|      Vikas|         SUV|       18.0|      560|                   45|         UPI|  Cancelled|
|   T005|     Arjun|  Chennai|      Kumar|        Mini|        7.8|      200|                   20|         UPI|  Completed|
|   T006|     Sneha|Hyderabad|     Ramesh|       Sedan|       14.2|      360|                   32|        Card|  Completed|
|   T007|     Karan|    Delhi|       Anil|        Bike|        6.3|      140|                   18|         UPI|  Completed|
|   T008|      Riya|Bangalore|     Suresh|       Sedan|       11.0|      300|                   27|      Wallet|  Completed|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T010|    Anjali|  Chennai|      Kumar|        Bike|        4.9|      110|                   14|        Cash|  Completed|
|   T011|    Farhan|    Delhi|       Anil|        Mini|        9.6|      240|                   25|         UPI|  Completed|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|
|   T013|    Suresh|Bangalore|     Suresh|       Sedan|       13.0|      340|                   30|         UPI|  Completed|
|   T014|     Divya|   Mumbai|      Vikas|        Mini|       10.2|      260|                   26|      Wallet|  Completed|
|   T015|    Nikhil|    Delhi|       Anil|       Sedan|       15.5|      390|                   34|         UPI|  Completed|
|   T016|     Kavya|  Chennai|      Kumar|       Sedan|       12.1|      315|                   29|         UPI|  Completed|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T018|    Simran|Bangalore|     Suresh|        Bike|        5.8|      130|                   16|        Cash|  Completed|
|   T019|    Ayesha|   Mumbai|      Vijay|        Mini|        9.9|      250|                   24|         UPI|  Completed|
|   T020|    Manish|    Delhi|       Anil|        Bike|        6.0|      135|                   17|      Wallet|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
only showing top 20 rows
root
 |-- trip_id: string (nullable = true)
 |-- rider_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- driver_name: string (nullable = true)
 |-- vehicle_type: string (nullable = true)
 |-- distance_km: double (nullable = true)
 |-- trip_fare: long (nullable = true)
 |-- trip_duration_minutes: long (nullable = true)
 |-- payment_mode: string (nullable = true)
 |-- trip_status: string (nullable = true)

In [22]:

# telecom_rdd_assignment.py
# PySpark RDD-only solution for Telecom Call Records Analysis
# -----------------------------------------------------------
# Tasks covered: 1 through 13
# Constraints respected: RDDs only (no DataFrames/Spark SQL/Pandas)

from pyspark import SparkConf, SparkContext
import os

# -----------------------------------------------------------
# Optional: Create sample CSV if not present (from the PDF)
# Comment out if you already have call_records.csv
# -----------------------------------------------------------
SAMPLE_DATA = """call_id,caller,receiver,city,call_type,duration_seconds,cost
C001,Amit,Rahul,Hyderabad,Local,180,2.5
C002,Neha,Arjun,Bangalore,STD,320,6.0
C003,Rahul,Pooja,Delhi,Local,60,1.0
C004,Pooja,Neha,Mumbai,ISD,900,25.0
C005,Arjun,Amit,Chennai,STD,400,7.5
C006,Sneha,Karan,Hyderabad,Local,240,3.0
C007,Karan,Sneha,Delhi,Local,120,2.0
C008,Riya,Vikas,Bangalore,STD,360,6.5
C009,Vikas,Riya,Mumbai,ISD,1100,30.0
C010,Anjali,Sanjay,Chennai,Local,90,1.5
C011,Farhan,Ayesha,Delhi,STD,420,7.0
C012,Ayesha,Farhan,Hyderabad,ISD,950,28.0
C013,Suresh,Divya,Bangalore,Local,150,2.0
C014,Divya,Suresh,Mumbai,STD,380,6.8
C015,Nikhil,Priya,Delhi,Local,200,2.8
C016,Priya,Nikhil,Chennai,STD,410,7.2
C017,Rohit,Kavya,Hyderabad,Local,170,2.3
C018,Kavya,Rohit,Bangalore,Local,140,2.1
C019,Manish,Tina,Mumbai,ISD,1000,27.0
C020,Tina,Manish,Delhi,STD,350,6.2
"""
CSV_PATH = "call_records.csv"
if not os.path.exists(CSV_PATH):
    with open(CSV_PATH, "w", encoding="utf-8") as f:
        f.write(SAMPLE_DATA)

# -----------------------------------------------------------
# Spark Context setup
# -----------------------------------------------------------
conf = SparkConf().setAppName("TelecomRDDAssignment").setMaster("local[*]")
sc = SparkContext(conf=conf)
sc.setLogLevel("WARN")

# -----------------------------------------------------------
# Helpers
# -----------------------------------------------------------
def parse_record(line):
    """
    Parse a CSV line (without header) into a typed tuple:
    (call_id, caller, receiver, city, call_type, duration_seconds:int, cost:float)
    Return None for malformed lines so we can filter them out safely.
    """
    parts = [p.strip() for p in line.split(",")]
    if len(parts) != 7:
        return None
    call_id, caller, receiver, city, call_type, duration_str, cost_str = parts
    try:
        duration = int(duration_str)
        cost = float(cost_str)
        return (call_id, caller, receiver, city, call_type, duration, cost)
    except:
        return None

def pretty_print(title, rows, limit=50):
    print("\n" + "="*80)
    print(title)
    print("="*80)
    for i, r in enumerate(rows):
        if i >= limit:
            print(f"... (showing {limit} of {len(rows)} rows)")
            break
        print(r)

# -----------------------------------------------------------
# Task 1: Read the CSV using textFile and display first 5 records
# -----------------------------------------------------------
lines = sc.textFile(CSV_PATH)
first5 = lines.take(5)
pretty_print("Task 1: First 5 raw lines", first5)

# -----------------------------------------------------------
# Task 2: Remove header row -> clean RDD of data lines only
# Robust approach using zipWithIndex to drop first line globally.
# -----------------------------------------------------------
header = lines.first()
data_lines = lines.filter(lambda l: l != header and l.strip() != "")
# Alternative robust method:
# data_lines = lines.zipWithIndex().filter(lambda kv: kv[1] > 0).map(lambda kv: kv[0])

# -----------------------------------------------------------
# Task 3: Split each row and convert types -> parsed RDD
# -----------------------------------------------------------
parsed = data_lines.map(parse_record).filter(lambda r: r is not None)
# Sanity check: show a few parsed records
pretty_print("Task 3: Parsed records (typed tuples)", parsed.take(5))

# Field indices for readability
IDX_CALL_ID     = 0
IDX_CALLER      = 1
IDX_RECEIVER    = 2
IDX_CITY        = 3
IDX_CALL_TYPE   = 4
IDX_DURATION    = 5
IDX_COST        = 6

# -----------------------------------------------------------
# Task 4: Total call cost per city
# -----------------------------------------------------------
total_cost_per_city = (
    parsed
    .map(lambda r: (r[IDX_CITY], r[IDX_COST]))
    .reduceByKey(lambda a, b: a + b)
)
pretty_print("Task 4: Total call cost per city", total_cost_per_city.sortBy(lambda kv: kv[0]).collect())

# -----------------------------------------------------------
# Task 5: City with the highest total call cost
# -----------------------------------------------------------
# Option A: derive from total_cost_per_city
most_expensive_city = total_cost_per_city.reduce(lambda a, b: a if a[1] >= b[1] else b)
pretty_print("Task 5: City with highest total call cost", [most_expensive_city])

# -----------------------------------------------------------
# Task 6: Total call duration per call type (Local, STD, ISD)
# -----------------------------------------------------------
total_duration_by_type = (
    parsed
    .map(lambda r: (r[IDX_CALL_TYPE], r[IDX_DURATION]))
    .reduceByKey(lambda a, b: a + b)
)
pretty_print("Task 6: Total call duration by call type", total_duration_by_type.sortBy(lambda kv: kv[0]).collect())

# -----------------------------------------------------------
# Task 7: Number of calls per city
# -----------------------------------------------------------
calls_per_city = (
    parsed
    .map(lambda r: (r[IDX_CITY], 1))
    .reduceByKey(lambda a, b: a + b)
)
pretty_print("Task 7: Number of calls per city", calls_per_city.sortBy(lambda kv: kv[0]).collect())

# -----------------------------------------------------------
# Task 8: Average call cost per city (RDD-only)
# Approach: reduceByKey over (sum_cost, count) then divide
# -----------------------------------------------------------
sum_count_per_city = (
    parsed
    .map(lambda r: (r[IDX_CITY], (r[IDX_COST], 1)))
    .reduceByKey(lambda a, b: (a[0] + b[0], a[1] + b[1]))
)
avg_cost_per_city = sum_count_per_city.mapValues(lambda sc: sc[0] / sc[1])
pretty_print("Task 8: Average call cost per city", avg_cost_per_city.sortBy(lambda kv: kv[0]).collect())

# -----------------------------------------------------------
# Task 9: High-value calls (cost > 20)
# -----------------------------------------------------------
high_value_calls = parsed.filter(lambda r: r[IDX_COST] > 20.0)
# Show selected fields for readability
high_value_selected = high_value_calls.map(lambda r: (r[IDX_CALL_ID], r[IDX_CALLER], r[IDX_RECEIVER], r[IDX_CITY], r[IDX_COST]))
pretty_print("Task 9: High-value calls (cost > 20)", high_value_selected.collect())

# -----------------------------------------------------------
# Task 10: Count ISD calls per city
# -----------------------------------------------------------
isd_calls_per_city = (
    parsed
    .filter(lambda r: r[IDX_CALL_TYPE].upper() == "ISD")
    .map(lambda r: (r[IDX_CITY], 1))
    .reduceByKey(lambda a, b: a + b)
)
pretty_print("Task 10: ISD calls per city", isd_calls_per_city.sortBy(lambda kv: kv[0]).collect())

# -----------------------------------------------------------
# Task 11: Longest call based on duration
# -----------------------------------------------------------
# Reduce by comparing duration
longest_call = parsed.reduce(lambda a, b: a if a[IDX_DURATION] >= b[IDX_DURATION] else b)
pretty_print("Task 11: Longest call (full record)", [longest_call])

# -----------------------------------------------------------
# Task 12: Total revenue generated by each caller
# -----------------------------------------------------------
revenue_per_caller = (
    parsed
    .map(lambda r: (r[IDX_CALLER], r[IDX_COST]))
    .reduceByKey(lambda a, b: a + b)
)
pretty_print("Task 12: Total revenue per caller", revenue_per_caller.sortBy(lambda kv: kv[0]).collect())

# -----------------------------------------------------------
# Task 13: Suspicious calls (duration > 900 seconds AND cost > 25)
# -----------------------------------------------------------
suspicious_calls = parsed.filter(lambda r: (r[IDX_DURATION] > 900) and (r[IDX_COST] > 25.0))
suspicious_selected = suspicious_calls.map(lambda r: (r[IDX_CALL_ID], r[IDX_CALLER], r[IDX_RECEIVER], r[IDX_CITY], r[IDX_DURATION], r[IDX_COST]))
pretty_print("Task 13: Suspicious calls (duration > 900 AND cost > 25)", suspicious_selected.collect())

## -----------------------------------------------------------
# Cleanup (optional)
# -----------------------------------------------------------

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=Reading files, master=local[*]) created by getOrCreate at /tmp/ipython-input-65049313.py:4

In [23]:
orders_data = [
    ("O001","Hyderabad",1200),
    ("O002","Delhi",800),
    ("O003","Mumbai",1500),
    ("O004","Bangalore",400),
    ("O005","Hyderabad",300),
    ("O006","Delhi",2000),
    ("O007","Mumbai",700),
    ("O008","Bangalore",1800),
    ("O009","Delhi",350),
    ("O010","Hyderabad",900)
]
orders_cols = ["order_id","city","order_amount"]
orders_df=spark.createDataFrame(orders_data,orders_cols)
orders_df.show()

+--------+---------+------------+
|order_id|     city|order_amount|
+--------+---------+------------+
|    O001|Hyderabad|        1200|
|    O002|    Delhi|         800|
|    O003|   Mumbai|        1500|
|    O004|Bangalore|         400|
|    O005|Hyderabad|         300|
|    O006|    Delhi|        2000|
|    O007|   Mumbai|         700|
|    O008|Bangalore|        1800|
|    O009|    Delhi|         350|
|    O010|Hyderabad|         900|
+--------+---------+------------+

In [24]:
city_data = [
    ("Hyderabad","Tier-1"),
    ("Delhi","Tier-1"),
    ("Mumbai","Tier-1"),
    ("Bangalore","Tier-1")
]

city_cols = ["city","city_category"]

city_df = spark.createDataFrame(city_data, city_cols)
city_df.show()

+---------+-------------+
|     city|city_category|
+---------+-------------+
|Hyderabad|       Tier-1|
|    Delhi|       Tier-1|
|   Mumbai|       Tier-1|
|Bangalore|       Tier-1|
+---------+-------------+

In [25]:
from pyspark.sql.functions import col
filtered_orders = orders_df.filter(col("order_amount") > 500)

joined_df = filtered_orders.join(
    city_df,
    on="city",
    how="inner"
)

final_df = joined_df.select(
    "order_id",
    "city",
    "city_category",
    "order_amount"
)

In [ ]:
final_df.explain(True)

BROADCAST

In [26]:
from pyspark.sql.functions import broadcast

broadcast_json_df= filtered_orders.join(
    broadcast(city_df),
    on="city",
    how="inner"

)

final_broadcast_df= broadcast_json_df.select(
    "order_id",
    "city",
    "city_category",
    "order_amount"
)

In [ ]:
final_broadcast_df.explain()

In [27]:
rides_data = [
("R001","U001","Hyderabad",12.5,240,"Completed"),
("R002","U002","Delhi",8.2,180,"Completed"),
("R003","U003","Mumbai",15.0,300,"Cancelled"),
("R004","U004","Bangalore",5.5,120,"Completed"),
("R005","U005","Hyderabad",20.0,360,"Completed"),
("R006","U006","Delhi",25.0,420,"Completed"),
("R007","U007","Mumbai",7.5,150,"Completed"),
("R008","U008","Bangalore",18.0,330,"Completed"),
("R009","U009","Delhi",6.0,140,"Cancelled"),
("R010","U010","Hyderabad",10.0,200,"Completed")
]
rides_cols = [
"ride_id",
"user_id",
"city",
"distance_km",
"duration_seconds",
"status"
]

rides_df = spark.createDataFrame(rides_data, rides_cols)

In [28]:
surge_data = [
("Hyderabad",1.2),
("Delhi",1.5),
("Mumbai",1.8),
("Bangalore",1.3)
]
surge_cols = ["city","surge_multiplier"]
surge_df = spark.createDataFrame(surge_data, surge_cols)

In [29]:


pipeline = (
    rides_df
    .filter(col("status") == "Completed")
    .select("ride_id", "city", "distance_km")
)

In [30]:


completed_count = pipeline.count()
print(completed_count)

8

In [31]:

chain = (
    rides_df
    .filter(col("status") == "Completed")
    .filter(col("distance_km") > 10)
    .select("ride_id", "city", "distance_km")
)

chain.explain(True)

== Parsed Logical Plan ==
'Project ['ride_id, 'city, 'distance_km]
+- Filter (distance_km#453 > cast(10 as double))
   +- Filter (status#455 = Completed)
      +- LogicalRDD [ride_id#450, user_id#451, city#452, distance_km#453, duration_seconds#454L, status#455], false

== Analyzed Logical Plan ==
ride_id: string, city: string, distance_km: double
Project [ride_id#450, city#452, distance_km#453]
+- Filter (distance_km#453 > cast(10 as double))
   +- Filter (status#455 = Completed)
      +- LogicalRDD [ride_id#450, user_id#451, city#452, distance_km#453, duration_seconds#454L, status#455], false

== Optimized Logical Plan ==
Project [ride_id#450, city#452, distance_km#453]
+- Filter ((isnotnull(status#455) AND isnotnull(distance_km#453)) AND ((status#455 = Completed) AND (distance_km#453 > 10.0)))
   +- LogicalRDD [ride_id#450, user_id#451, city#452, distance_km#453, duration_seconds#454L, status#455], false

== Physical Plan ==
*(1) Project [ride_id#450, city#452, distance_km#453]
+- *(1) Filter ((isnotnull(status#455) AND isnotnull(distance_km#453)) AND ((status#455 = Completed) AND (distance_km#453 > 10.0)))
   +- *(1) Scan ExistingRDD[ride_id#450,user_id#451,city#452,distance_km#453,duration_seconds#454L,status#455]

In [32]:

vA = (
    rides_df
    .filter(col("distance_km") > 10)
    .join(surge_df, on="city", how="inner")
)

vB = (
    rides_df
    .join(surge_df, on="city", how="inner")
    .filter(col("distance_km") > 10)
)
vA.explain(True)
vA.explain(True)

== Parsed Logical Plan ==
'Join UsingJoin(Inner, [city])
:- Filter (distance_km#453 > cast(10 as double))
:  +- LogicalRDD [ride_id#450, user_id#451, city#452, distance_km#453, duration_seconds#454L, status#455], false
+- LogicalRDD [city#456, surge_multiplier#457], false

== Analyzed Logical Plan ==
city: string, ride_id: string, user_id: string, distance_km: double, duration_seconds: bigint, status: string, surge_multiplier: double
Project [city#452, ride_id#450, user_id#451, distance_km#453, duration_seconds#454L, status#455, surge_multiplier#457]
+- Join Inner, (city#452 = city#456)
   :- Filter (distance_km#453 > cast(10 as double))
   :  +- LogicalRDD [ride_id#450, user_id#451, city#452, distance_km#453, duration_seconds#454L, status#455], false
   +- LogicalRDD [city#456, surge_multiplier#457], false

== Optimized Logical Plan ==
Project [city#452, ride_id#450, user_id#451, distance_km#453, duration_seconds#454L, status#455, surge_multiplier#457]
+- Join Inner, (city#452 = city#456)
   :- Filter ((isnotnull(distance_km#453) AND (distance_km#453 > 10.0)) AND isnotnull(city#452))
   :  +- LogicalRDD [ride_id#450, user_id#451, city#452, distance_km#453, duration_seconds#454L, status#455], false
   +- Filter isnotnull(city#456)
      +- LogicalRDD [city#456, surge_multiplier#457], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [city#452, ride_id#450, user_id#451, distance_km#453, duration_seconds#454L, status#455, surge_multiplier#457]
   +- SortMergeJoin [city#452], [city#456], Inner
      :- Sort [city#452 ASC NULLS FIRST], false, 0
      :  +- Exchange hashpartitioning(city#452, 200), ENSURE_REQUIREMENTS, [plan_id=689]
      :     +- Filter ((isnotnull(distance_km#453) AND (distance_km#453 > 10.0)) AND isnotnull(city#452))
      :        +- Scan ExistingRDD[ride_id#450,user_id#451,city#452,distance_km#453,duration_seconds#454L,status#455]
      +- Sort [city#456 ASC NULLS FIRST], false, 0
         +- Exchange hashpartitioning(city#456, 200), ENSURE_REQUIREMENTS, [plan_id=690]
            +- Filter isnotnull(city#456)
               +- Scan ExistingRDD[city#456,surge_multiplier#457]

== Parsed Logical Plan ==
'Join UsingJoin(Inner, [city])
:- Filter (distance_km#453 > cast(10 as double))
:  +- LogicalRDD [ride_id#450, user_id#451, city#452, distance_km#453, duration_seconds#454L, status#455], false
+- LogicalRDD [city#456, surge_multiplier#457], false

== Analyzed Logical Plan ==
city: string, ride_id: string, user_id: string, distance_km: double, duration_seconds: bigint, status: string, surge_multiplier: double
Project [city#452, ride_id#450, user_id#451, distance_km#453, duration_seconds#454L, status#455, surge_multiplier#457]
+- Join Inner, (city#452 = city#456)
   :- Filter (distance_km#453 > cast(10 as double))
   :  +- LogicalRDD [ride_id#450, user_id#451, city#452, distance_km#453, duration_seconds#454L, status#455], false
   +- LogicalRDD [city#456, surge_multiplier#457], false

== Optimized Logical Plan ==
Project [city#452, ride_id#450, user_id#451, distance_km#453, duration_seconds#454L, status#455, surge_multiplier#457]
+- Join Inner, (city#452 = city#456)
   :- Filter ((isnotnull(distance_km#453) AND (distance_km#453 > 10.0)) AND isnotnull(city#452))
   :  +- LogicalRDD [ride_id#450, user_id#451, city#452, distance_km#453, duration_seconds#454L, status#455], false
   +- Filter isnotnull(city#456)
      +- LogicalRDD [city#456, surge_multiplier#457], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [city#452, ride_id#450, user_id#451, distance_km#453, duration_seconds#454L, status#455, surge_multiplier#457]
   +- SortMergeJoin [city#452], [city#456], Inner
      :- Sort [city#452 ASC NULLS FIRST], false, 0
      :  +- Exchange hashpartitioning(city#452, 200), ENSURE_REQUIREMENTS, [plan_id=689]
      :     +- Filter ((isnotnull(distance_km#453) AND (distance_km#453 > 10.0)) AND isnotnull(city#452))
      :        +- Scan ExistingRDD[ride_id#450,user_id#451,city#452,distance_km#453,duration_seconds#454L,status#455]
      +- Sort [city#456 ASC NULLS FIRST], false, 0
         +- Exchange hashpartitioning(city#456, 200), ENSURE_REQUIREMENTS, [plan_id=690]
            +- Filter isnotnull(city#456)
               +- Scan ExistingRDD[city#456,surge_multiplier#457]

In [33]:
print(rides_df.rdd.getNumPartitions())
rides_4 = rides_df.repartition(4)
rides_4.rdd.getNumPartitions()

2

4

In [34]:
rides_1 = rides_4.coalesce(1)
print(rides_1.rdd.getNumPartitions())

1

In [35]:

out_path_repart = "/tmp/rides_repart4_parquet"
out_path_coal1  = "/tmp/rides_coalesce1_parquet"

rides_4.write.mode("overwrite").parquet(out_path_repart)
rides_1.write.mode("overwrite").parquet(out_path_coal1)

In [36]:

rides_by_city = rides_df.repartition(4, col("city"))
rides_by_city.explain(True)

== Parsed Logical Plan ==
'RepartitionByExpression ['city], 4
+- LogicalRDD [ride_id#450, user_id#451, city#452, distance_km#453, duration_seconds#454L, status#455], false

== Analyzed Logical Plan ==
ride_id: string, user_id: string, city: string, distance_km: double, duration_seconds: bigint, status: string
RepartitionByExpression [city#452], 4
+- LogicalRDD [ride_id#450, user_id#451, city#452, distance_km#453, duration_seconds#454L, status#455], false

== Optimized Logical Plan ==
RepartitionByExpression [city#452], 4
+- LogicalRDD [ride_id#450, user_id#451, city#452, distance_km#453, duration_seconds#454L, status#455], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Exchange hashpartitioning(city#452, 4), REPARTITION_BY_NUM, [plan_id=827]
   +- Scan ExistingRDD[ride_id#450,user_id#451,city#452,distance_km#453,duration_seconds#454L,status#455]

In [37]:
no_bc_joinno_bc_join = rides_df.join(surge_df, on="city", how="inner")

In [39]:

filtered_then_join = (
     rides_df
    .filter(col("distance_km") > 10)
    .join(surge_df, on="city", how="inner")
)

In [40]:
bc_join = rides_df.join(broadcast(surge_df), on="city", how="inner")

In [41]:

long_pipeline = (
    rides_df
    .filter(col("status") == "Completed")
    .withColumn("min_per_km", (col("duration_seconds")/60.0) / col("distance_km"))
    .join(broadcast(surge_df), on="city")
    .select("ride_id", "city", "distance_km", "min_per_km")
)

In [42]:

cnt = long_pipeline.count()
print( cnt)

long_pipeline.show(5, truncate=False)

out_path_long = "/tmp/long_pipeline_out"
long_pipeline.write.mode("overwrite").parquet(out_path_long)

8
+-------+---------+-----------+-------------------+
|ride_id|city     |distance_km|min_per_km         |
+-------+---------+-----------+-------------------+
|R001   |Hyderabad|12.5       |0.32               |
|R002   |Delhi    |8.2        |0.3658536585365854 |
|R004   |Bangalore|5.5        |0.36363636363636365|
|R005   |Hyderabad|20.0       |0.3                |
|R006   |Delhi    |25.0       |0.28               |
+-------+---------+-----------+-------------------+
only showing top 5 rows