In [2]:
from google.colab import files

# Open a file picker to upload
uploaded = files.upload()

Saving orders.csv to orders.csv

In [3]:

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("OrdersPipeline") \
    .getOrCreate()

df_raw = spark.read.csv("orders.csv", header=True, inferSchema=False)

In [4]:
df_raw.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- status: string (nullable = true)

In [5]:

raw_count = df_raw.count()
print("Total Records =", raw_count)

Total Records = 300000

In [6]:
df_raw.show(10, truncate=False)

+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
|order_id   |customer_id|city       |category   |product    |amount |order_date|status   |
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
|ORD00000000|C000000    | hyderabad | grocery   |Oil        |invalid|01/01/2024|Cancelled|
|ORD00000001|C000001    |Pune       |Grocery    |Sugar      |35430  |2024-01-02|Completed|
|ORD00000002|C000002    |Pune       |Electronics|Mobile     |65358  |2024-01-03|Completed|
|ORD00000003|C000003    |Bangalore  |Electronics|Laptop     |5558   |2024-01-04|Completed|
|ORD00000004|C000004    |Pune       |Home       |AirPurifier|33659  |2024-01-05|Completed|
|ORD00000005|C000005    |Delhi      |Fashion    |Jeans      |8521   |2024-01-06|Completed|
|ORD00000006|C000006    |Delhi      |Grocery    |Sugar      |42383  |2024-01-07|Completed|
|ORD00000007|C000007    |Pune       |Grocery    |Rice       |45362  |2024-01-08|Completed|
|ORD00000008|C000008    |Bangalore  |Fashion    |Jeans      |10563  |2024-01-09|Completed|
|ORD00000009|C000009    |Kolkata    |Electronics|Laptop     |63715  |2024-01-10|Completed|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
only showing top 10 rows

PHASE 2 — DATA CLEANING

In [7]:

from pyspark.sql.functions import trim, col

df = df_raw.withColumn("city", trim(col("city"))) \
           .withColumn("category", trim(col("category"))) \
           .withColumn("product", trim(col("product")))

In [8]:

from pyspark.sql.functions import initcap

df = df.withColumn("city_clean", initcap(col("city"))) \
       .withColumn("category_clean", initcap(col("category"))) \
       .withColumn("product_clean", initcap(col("product")))

In [9]:

from pyspark.sql.functions import regexp_replace, when

df = df.withColumn(
    "amount_clean",
    regexp_replace("amount", ",", "")
)

df = df.withColumn(
    "amount_clean",
    when(col("amount_clean").rlike("^[0-9]+$"), col("amount_clean")).otherwise(None)
)

df = df.withColumn("amount_int", col("amount_clean").cast("int"))

In [17]:
from pyspark.sql.functions import coalesce, to_date, try_to_timestamp, col, lit

df = df.withColumn(
    "order_date_clean",
    coalesce(
        try_to_timestamp(col("order_date"), lit("yyyy-MM-dd")),
        try_to_timestamp(col("order_date"), lit("dd/MM/yyyy")),
        try_to_timestamp(col("order_date"), lit("yyyy/MM/dd"))
    ).cast("date")
)

PHASE 3 — DATA VALIDATION

In [11]:
invalid_amounts = df.filter(col("amount_int").isNull()).count()

In [18]:
from pyspark.sql.functions import to_timestamp

# The previous line 'df = df.withColumn("parsed_date", to_timestamp("date_column", "dd/MM/yyyy"))' was likely a leftover or a test and not intended to be part of the final flow here,
# as it refers to a non-existent 'date_column' and would override the cleaned date column if it were named 'order_date_clean'.
# I'm removing it to avoid introducing new issues and to ensure we're using the 'order_date_clean' column generated in the previous step.
# df = df.withColumn("parsed_date", to_timestamp("date_column", "dd/MM/yyyy"))

invalid_dates = df.filter(col("order_date_clean").isNull()).count()

In [19]:

from pyspark.sql.functions import count

df.groupBy("order_id").agg(count("*").alias("cnt")).filter("cnt > 1").show()

+--------+---+
|order_id|cnt|
+--------+---+
+--------+---+

In [20]:
df = df.dropDuplicates(["order_id"])

In [21]:
df_completed = df.filter(col("status") == "Completed")

In [22]:

print("After cleaning:", df.count())
print("After filtering completed:", df_completed.count())

After cleaning: 300000
After filtering completed: 285000

PHASE 4 — PERFORMANCE ENGINEERING

In [23]:

print(df.rdd.getNumPartitions())

2

In [24]:
city_rev = df.groupBy("city_clean").sum("amount_int")

In [25]:
city_rev.explain(True)

== Parsed Logical Plan ==
'Aggregate ['city_clean], ['city_clean, unresolvedalias('sum(amount_int#79))]
+- Deduplicate [order_id#17]
   +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, cast(coalesce(try_to_timestamp(order_date#23, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date_clean#127]
      +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#123) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) END AS order_date_clean#124]
         +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#122) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) END AS order_date_clean#123]
            +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#122]
               +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#81) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) END AS order_date_clean#82]
                  +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#80) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) END AS order_date_clean#81]
                     +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#80]
                        +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, cast(amount_clean#78 as int) AS amount_int#79]
                           +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, CASE WHEN RLIKE(amount_clean#77, ^[0-9]+$) THEN amount_clean#77 ELSE cast(null as string) END AS amount_clean#78]
                              +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, regexp_replace(amount#22, ,, , 1) AS amount_clean#77]
                                 +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, initcap(product#73) AS product_clean#76]
                                    +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, initcap(category#72) AS category_clean#75]
                                       +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, initcap(city#71) AS city_clean#74]
                                          +- Project [order_id#17, customer_id#18, city#71, category#72, trim(product#21, None) AS product#73, amount#22, order_date#23, status#24]
                                             +- Project [order_id#17, customer_id#18, city#71, trim(category#20, None) AS category#72, product#21, amount#22, order_date#23, status#24]
                                                +- Project [order_id#17, customer_id#18, trim(city#19, None) AS city#71, category#20, product#21, amount#22, order_date#23, status#24]
                                                   +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Analyzed Logical Plan ==
city_clean: string, sum(amount_int): bigint
Aggregate [city_clean#74], [city_clean#74, sum(amount_int#79) AS sum(amount_int)#429L]
+- Deduplicate [order_id#17]
   +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, cast(coalesce(try_to_timestamp(order_date#23, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date_clean#127]
      +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#123) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) END AS order_date_clean#124]
         +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#122) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) END AS order_date_clean#123]
            +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#122]
               +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#81) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) END AS order_date_clean#82]
                  +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#80) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) END AS order_date_clean#81]
                     +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#80]
                        +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, cast(amount_clean#78 as int) AS amount_int#79]
                           +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, CASE WHEN RLIKE(amount_clean#77, ^[0-9]+$) THEN amount_clean#77 ELSE cast(null as string) END AS amount_clean#78]
                              +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, regexp_replace(amount#22, ,, , 1) AS amount_clean#77]
                                 +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, initcap(product#73) AS product_clean#76]
                                    +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, initcap(category#72) AS category_clean#75]
                                       +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, initcap(city#71) AS city_clean#74]
                                          +- Project [order_id#17, customer_id#18, city#71, category#72, trim(product#21, None) AS product#73, amount#22, order_date#23, status#24]
                                             +- Project [order_id#17, customer_id#18, city#71, trim(category#20, None) AS category#72, product#21, amount#22, order_date#23, status#24]
                                                +- Project [order_id#17, customer_id#18, trim(city#19, None) AS city#71, category#20, product#21, amount#22, order_date#23, status#24]
                                                   +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Optimized Logical Plan ==
Aggregate [city_clean#445], [city_clean#445, sum(amount_int#453) AS sum(amount_int)#429L]
+- Aggregate [order_id#17], [first(city_clean#74, false) AS city_clean#445, first(amount_int#79, false) AS amount_int#453]
   +- Project [order_id#17, city_clean#74, CASE WHEN RLIKE(amount_clean#77, ^[0-9]+$) THEN cast(amount_clean#77 as int) END AS amount_int#79]
      +- Project [order_id#17, initcap(trim(city#19, None)) AS city_clean#74, regexp_replace(amount#22, ,, , 1) AS amount_clean#77]
         +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[city_clean#445], functions=[sum(amount_int#453)], output=[city_clean#445, sum(amount_int)#429L])
   +- Exchange hashpartitioning(city_clean#445, 200), ENSURE_REQUIREMENTS, [plan_id=600]
      +- HashAggregate(keys=[city_clean#445], functions=[partial_sum(amount_int#453)], output=[city_clean#445, sum#457L])
         +- SortAggregate(key=[order_id#17], functions=[first(city_clean#74, false), first(amount_int#79, false)], output=[city_clean#445, amount_int#453])
            +- Sort [order_id#17 ASC NULLS FIRST], false, 0
               +- Exchange hashpartitioning(order_id#17, 200), ENSURE_REQUIREMENTS, [plan_id=595]
                  +- SortAggregate(key=[order_id#17], functions=[partial_first(city_clean#74, false), partial_first(amount_int#79, false)], output=[order_id#17, first#462, valueSet#463, first#464, valueSet#465])
                     +- Sort [order_id#17 ASC NULLS FIRST], false, 0
                        +- Project [order_id#17, city_clean#74, CASE WHEN RLIKE(amount_clean#77, ^[0-9]+$) THEN cast(amount_clean#77 as int) END AS amount_int#79]
                           +- Project [order_id#17, initcap(trim(city#19, None)) AS city_clean#74, regexp_replace(amount#22, ,, , 1) AS amount_clean#77]
                              +- FileScan csv [order_id#17,city#19,amount#22] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/orders.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,city:string,amount:string>

4. Identify shuffle

GroupBy always causes a shuffle because it requires same-key data to be co-located.

In [26]:
df_rep = df.repartition("city_clean")

In [27]:
df_rep.groupBy("city_clean").sum("amount_int").explain(True)

== Parsed Logical Plan ==
'Aggregate ['city_clean], ['city_clean, unresolvedalias('sum(amount_int#79))]
+- RepartitionByExpression [city_clean#74]
   +- Deduplicate [order_id#17]
      +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, cast(coalesce(try_to_timestamp(order_date#23, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date_clean#127]
         +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#123) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) END AS order_date_clean#124]
            +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#122) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) END AS order_date_clean#123]
               +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#122]
                  +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#81) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) END AS order_date_clean#82]
                     +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#80) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) END AS order_date_clean#81]
                        +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#80]
                           +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, cast(amount_clean#78 as int) AS amount_int#79]
                              +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, CASE WHEN RLIKE(amount_clean#77, ^[0-9]+$) THEN amount_clean#77 ELSE cast(null as string) END AS amount_clean#78]
                                 +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, regexp_replace(amount#22, ,, , 1) AS amount_clean#77]
                                    +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, initcap(product#73) AS product_clean#76]
                                       +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, initcap(category#72) AS category_clean#75]
                                          +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, initcap(city#71) AS city_clean#74]
                                             +- Project [order_id#17, customer_id#18, city#71, category#72, trim(product#21, None) AS product#73, amount#22, order_date#23, status#24]
                                                +- Project [order_id#17, customer_id#18, city#71, trim(category#20, None) AS category#72, product#21, amount#22, order_date#23, status#24]
                                                   +- Project [order_id#17, customer_id#18, trim(city#19, None) AS city#71, category#20, product#21, amount#22, order_date#23, status#24]
                                                      +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Analyzed Logical Plan ==
city_clean: string, sum(amount_int): bigint
Aggregate [city_clean#74], [city_clean#74, sum(amount_int#79) AS sum(amount_int)#481L]
+- RepartitionByExpression [city_clean#74]
   +- Deduplicate [order_id#17]
      +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, cast(coalesce(try_to_timestamp(order_date#23, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date_clean#127]
         +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#123) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) END AS order_date_clean#124]
            +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#122) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) END AS order_date_clean#123]
               +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#122]
                  +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#81) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) END AS order_date_clean#82]
                     +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#80) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) END AS order_date_clean#81]
                        +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#80]
                           +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, cast(amount_clean#78 as int) AS amount_int#79]
                              +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, CASE WHEN RLIKE(amount_clean#77, ^[0-9]+$) THEN amount_clean#77 ELSE cast(null as string) END AS amount_clean#78]
                                 +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, regexp_replace(amount#22, ,, , 1) AS amount_clean#77]
                                    +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, initcap(product#73) AS product_clean#76]
                                       +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, initcap(category#72) AS category_clean#75]
                                          +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, initcap(city#71) AS city_clean#74]
                                             +- Project [order_id#17, customer_id#18, city#71, category#72, trim(product#21, None) AS product#73, amount#22, order_date#23, status#24]
                                                +- Project [order_id#17, customer_id#18, city#71, trim(category#20, None) AS category#72, product#21, amount#22, order_date#23, status#24]
                                                   +- Project [order_id#17, customer_id#18, trim(city#19, None) AS city#71, category#20, product#21, amount#22, order_date#23, status#24]
                                                      +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Optimized Logical Plan ==
Aggregate [city_clean#497], [city_clean#497, sum(amount_int#505) AS sum(amount_int)#481L]
+- RepartitionByExpression [city_clean#497]
   +- Aggregate [order_id#17], [first(city_clean#74, false) AS city_clean#497, first(amount_int#79, false) AS amount_int#505]
      +- Project [order_id#17, city_clean#74, CASE WHEN RLIKE(amount_clean#77, ^[0-9]+$) THEN cast(amount_clean#77 as int) END AS amount_int#79]
         +- Project [order_id#17, initcap(trim(city#19, None)) AS city_clean#74, regexp_replace(amount#22, ,, , 1) AS amount_clean#77]
            +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[city_clean#497], functions=[sum(amount_int#505)], output=[city_clean#497, sum(amount_int)#481L])
   +- HashAggregate(keys=[city_clean#497], functions=[partial_sum(amount_int#505)], output=[city_clean#497, sum#509L])
      +- Exchange hashpartitioning(city_clean#497, 200), REPARTITION_BY_COL, [plan_id=636]
         +- SortAggregate(key=[order_id#17], functions=[first(city_clean#74, false), first(amount_int#79, false)], output=[city_clean#497, amount_int#505])
            +- Sort [order_id#17 ASC NULLS FIRST], false, 0
               +- Exchange hashpartitioning(order_id#17, 200), ENSURE_REQUIREMENTS, [plan_id=633]
                  +- SortAggregate(key=[order_id#17], functions=[partial_first(city_clean#74, false), partial_first(amount_int#79, false)], output=[order_id#17, first#514, valueSet#515, first#516, valueSet#517])
                     +- Sort [order_id#17 ASC NULLS FIRST], false, 0
                        +- Project [order_id#17, city_clean#74, CASE WHEN RLIKE(amount_clean#77, ^[0-9]+$) THEN cast(amount_clean#77 as int) END AS amount_int#79]
                           +- Project [order_id#17, initcap(trim(city#19, None)) AS city_clean#74, regexp_replace(amount#22, ,, , 1) AS amount_clean#77]
                              +- FileScan csv [order_id#17,city#19,amount#22] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/orders.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,city:string,amount:string>

PHASE 5 — ANALYTICS

In [28]:

rev_city = df.groupBy("city_clean").sum("amount_int")

In [29]:
rev_cat = df.groupBy("category_clean").sum("amount_int")

In [30]:
avg_city = df.groupBy("city_clean").avg("amount_int")

In [31]:

top_products = df.groupBy("product_clean").sum("amount_int")\
                 .orderBy(col("sum(amount_int)").desc())\
                 .limit(10)

In [32]:
rev_city.orderBy(col("sum(amount_int)").desc())

DataFrame[city_clean: string, sum(amount_int): bigint]

PHASE 6 — WINDOW FUNCTIONS

In [33]:

from pyspark.sql.window import Window
from pyspark.sql.functions import rank, dense_rank

In [34]:

w = Window.orderBy(col("sum(amount_int)").desc())
city_rank = rev_city.withColumn("rank", rank().over(w))

In [35]:

wcat = Window.partitionBy("category_clean").orderBy(col("sum(amount_int)").desc())
prod_rank = df.groupBy("category_clean","product_clean").sum("amount_int") \
              .withColumn("rank", dense_rank().over(wcat))

In [36]:
top_per_cat = prod_rank.filter("rank = 1")

In [37]:
top3_cities = city_rank.filter(col("rank") <= 3)

PHASE 7 — BROADCAST JOIN

In [38]:

data = [
 ("Delhi","North"), ("Mumbai","West"), ("Bangalore","South"),
 ("Hyderabad","South"), ("Pune","West"), ("Chennai","South"), ("Kolkata","East")
]

region_df = spark.createDataFrame(data, ["city","region"])

In [39]:

from pyspark.sql.functions import broadcast

df_joined = df.join(broadcast(region_df), df.city_clean == region_df.city, "left")

In [40]:
df_joined.explain(True)

== Parsed Logical Plan ==
Join LeftOuter, (city_clean#74 = city#616)
:- Deduplicate [order_id#17]
:  +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, cast(coalesce(try_to_timestamp(order_date#23, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date_clean#127]
:     +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#123) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) END AS order_date_clean#124]
:        +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#122) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) END AS order_date_clean#123]
:           +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#122]
:              +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#81) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) END AS order_date_clean#82]
:                 +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#80) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) END AS order_date_clean#81]
:                    +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#80]
:                       +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, cast(amount_clean#78 as int) AS amount_int#79]
:                          +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, CASE WHEN RLIKE(amount_clean#77, ^[0-9]+$) THEN amount_clean#77 ELSE cast(null as string) END AS amount_clean#78]
:                             +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, regexp_replace(amount#22, ,, , 1) AS amount_clean#77]
:                                +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, initcap(product#73) AS product_clean#76]
:                                   +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, initcap(category#72) AS category_clean#75]
:                                      +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, initcap(city#71) AS city_clean#74]
:                                         +- Project [order_id#17, customer_id#18, city#71, category#72, trim(product#21, None) AS product#73, amount#22, order_date#23, status#24]
:                                            +- Project [order_id#17, customer_id#18, city#71, trim(category#20, None) AS category#72, product#21, amount#22, order_date#23, status#24]
:                                               +- Project [order_id#17, customer_id#18, trim(city#19, None) AS city#71, category#20, product#21, amount#22, order_date#23, status#24]
:                                                  +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv
+- ResolvedHint (strategy=broadcast)
   +- LogicalRDD [city#616, region#617], false

== Analyzed Logical Plan ==
order_id: string, customer_id: string, city: string, category: string, product: string, amount: string, order_date: string, status: string, city_clean: string, category_clean: string, product_clean: string, amount_clean: string, amount_int: int, order_date_clean: date, city: string, region: string
Join LeftOuter, (city_clean#74 = city#616)
:- Deduplicate [order_id#17]
:  +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, cast(coalesce(try_to_timestamp(order_date#23, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(order_date#23, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false)) as date) AS order_date_clean#127]
:     +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#123) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) END AS order_date_clean#124]
:        +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#122) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) END AS order_date_clean#123]
:           +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#122]
:              +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#81) THEN to_date(order_date#23, Some(yyyy/MM/dd), Some(Etc/UTC), true) END AS order_date_clean#82]
:                 +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, CASE WHEN isnull(order_date_clean#80) THEN to_date(order_date#23, Some(dd/MM/yyyy), Some(Etc/UTC), true) END AS order_date_clean#81]
:                    +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, amount_int#79, to_date(order_date#23, Some(yyyy-MM-dd), Some(Etc/UTC), true) AS order_date_clean#80]
:                       +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, cast(amount_clean#78 as int) AS amount_int#79]
:                          +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, CASE WHEN RLIKE(amount_clean#77, ^[0-9]+$) THEN amount_clean#77 ELSE cast(null as string) END AS amount_clean#78]
:                             +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, regexp_replace(amount#22, ,, , 1) AS amount_clean#77]
:                                +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, initcap(product#73) AS product_clean#76]
:                                   +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, initcap(category#72) AS category_clean#75]
:                                      +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, initcap(city#71) AS city_clean#74]
:                                         +- Project [order_id#17, customer_id#18, city#71, category#72, trim(product#21, None) AS product#73, amount#22, order_date#23, status#24]
:                                            +- Project [order_id#17, customer_id#18, city#71, trim(category#20, None) AS category#72, product#21, amount#22, order_date#23, status#24]
:                                               +- Project [order_id#17, customer_id#18, trim(city#19, None) AS city#71, category#20, product#21, amount#22, order_date#23, status#24]
:                                                  +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv
+- ResolvedHint (strategy=broadcast)
   +- LogicalRDD [city#616, region#617], false

== Optimized Logical Plan ==
Join LeftOuter, (city_clean#633 = city#616), rightHint=(strategy=broadcast)
:- Aggregate [order_id#17], [order_id#17, first(customer_id#18, false) AS customer_id#619, first(city#71, false) AS city#621, first(category#72, false) AS category#623, first(product#73, false) AS product#625, first(amount#22, false) AS amount#627, first(order_date#23, false) AS order_date#629, first(status#24, false) AS status#631, first(city_clean#74, false) AS city_clean#633, first(category_clean#75, false) AS category_clean#635, first(product_clean#76, false) AS product_clean#637, first(amount_clean#78, false) AS amount_clean#639, first(amount_int#79, false) AS amount_int#641, first(order_date_clean#127, false) AS order_date_clean#643]
:  +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, cast(amount_clean#78 as int) AS amount_int#79, cast(coalesce(gettimestamp(order_date#23, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false)) as date) AS order_date_clean#127]
:     +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, CASE WHEN RLIKE(amount_clean#77, ^[0-9]+$) THEN amount_clean#77 END AS amount_clean#78]
:        +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, initcap(city#71) AS city_clean#74, initcap(category#72) AS category_clean#75, initcap(product#73) AS product_clean#76, regexp_replace(amount#22, ,, , 1) AS amount_clean#77]
:           +- Project [order_id#17, customer_id#18, trim(city#19, None) AS city#71, trim(category#20, None) AS category#72, trim(product#21, None) AS product#73, amount#22, order_date#23, status#24]
:              +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv
+- Filter isnotnull(city#616)
   +- LogicalRDD [city#616, region#617], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- BroadcastHashJoin [city_clean#633], [city#616], LeftOuter, BuildRight, false
   :- SortAggregate(key=[order_id#17], functions=[first(customer_id#18, false), first(city#71, false), first(category#72, false), first(product#73, false), first(amount#22, false), first(order_date#23, false), first(status#24, false), first(city_clean#74, false), first(category_clean#75, false), first(product_clean#76, false), first(amount_clean#78, false), first(amount_int#79, false), first(order_date_clean#127, false)], output=[order_id#17, customer_id#619, city#621, category#623, product#625, amount#627, order_date#629, status#631, city_clean#633, category_clean#635, product_clean#637, amount_clean#639, amount_int#641, order_date_clean#643])
   :  +- Sort [order_id#17 ASC NULLS FIRST], false, 0
   :     +- Exchange hashpartitioning(order_id#17, 200), ENSURE_REQUIREMENTS, [plan_id=679]
   :        +- SortAggregate(key=[order_id#17], functions=[partial_first(customer_id#18, false), partial_first(city#71, false), partial_first(category#72, false), partial_first(product#73, false), partial_first(amount#22, false), partial_first(order_date#23, false), partial_first(status#24, false), partial_first(city_clean#74, false), partial_first(category_clean#75, false), partial_first(product_clean#76, false), partial_first(amount_clean#78, false), partial_first(amount_int#79, false), partial_first(order_date_clean#127, false)], output=[order_id#17, first#670, valueSet#671, first#672, valueSet#673, first#674, valueSet#675, first#676, valueSet#677, first#678, valueSet#679, first#680, valueSet#681, first#682, valueSet#683, first#684, valueSet#685, first#686, valueSet#687, first#688, valueSet#689, first#690, valueSet#691, first#692, valueSet#693, ... 2 more fields])
   :           +- Sort [order_id#17 ASC NULLS FIRST], false, 0
   :              +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, amount_clean#78, cast(amount_clean#78 as int) AS amount_int#79, cast(coalesce(gettimestamp(order_date#23, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(order_date#23, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false)) as date) AS order_date_clean#127]
   :                 +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, city_clean#74, category_clean#75, product_clean#76, CASE WHEN RLIKE(amount_clean#77, ^[0-9]+$) THEN amount_clean#77 END AS amount_clean#78]
   :                    +- Project [order_id#17, customer_id#18, city#71, category#72, product#73, amount#22, order_date#23, status#24, initcap(city#71) AS city_clean#74, initcap(category#72) AS category_clean#75, initcap(product#73) AS product_clean#76, regexp_replace(amount#22, ,, , 1) AS amount_clean#77]
   :                       +- Project [order_id#17, customer_id#18, trim(city#19, None) AS city#71, trim(category#20, None) AS category#72, trim(product#21, None) AS product#73, amount#22, order_date#23, status#24]
   :                          +- FileScan csv [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/orders.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,customer_id:string,city:string,category:string,product:string,amount:strin...
   +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, false]),false), [plan_id=683]
      +- Filter isnotnull(city#616)
         +- Scan ExistingRDD[city#616,region#617]

4. Why broadcast join is efficient?

* Lookup table is small
* Sent to every executor once
* Avoids shuffling large orders dataset
* Fastest join method in Spark for small reference tables

PHASE 8 — UDF

In [41]:

from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

def classify(v):
    if v is None: return "Low"
    if v >= 80000: return "High"
    if v >= 40000: return "Medium"
    return "Low"

classify_udf = udf(classify, StringType())

df = df.withColumn("order_value_category", classify_udf(col("amount_int")))

In [42]:
df.groupBy("order_value_category").count().show()

+--------------------+------+
|order_value_category| count|
+--------------------+------+
|                High| 29371|
|                 Low|153451|
|              Medium|117178|
+--------------------+------+

PHASE 9 — RDD

In [43]:
rdd = df.rdd

In [44]:
total_rev = rdd.map(lambda r: r["amount_int"] or 0).reduce(lambda x,y: x+y)

In [46]:

city_orders = rdd.map(lambda r: (r["city_clean"], 1)).reduceByKey(lambda a,b: a+b)

4. Why DataFrames are better than RDDs?

* Catalyst optimizer
* Tungsten execution engine
* Predicate pushdown
* Columnar optimization
* Much faster
* Safer, less code
* More memory-efficient

PHASE 10 — CACHING

In [47]:
df.cache()

DataFrame[order_id: string, customer_id: string, city: string, category: string, product: string, amount: string, order_date: string, status: string, city_clean: string, category_clean: string, product_clean: string, amount_clean: string, amount_int: int, order_date_clean: date, order_value_category: string]

In [48]:

df.groupBy("city_clean").sum("amount_int").show()
df.groupBy("category_clean").avg("amount_int").show()

+----------+---------------+
|city_clean|sum(amount_int)|
+----------+---------------+
| Bangalore|     1713862477|
|   Chennai|     1714214871|
|    Mumbai|     1712702171|
|   Kolkata|     1708896076|
|      Pune|     1733418439|
|     Delhi|     1719458186|
| Hyderabad|     1731794799|
+----------+---------------+

+--------------+------------------+
|category_clean|   avg(amount_int)|
+--------------+------------------+
|          Home|  43861.3925077651|
|       Fashion| 43661.82383875079|
|       Grocery|43865.714036058605|
|   Electronics| 43759.72683138903|
+--------------+------------------+

In [49]:
df.unpersist()

DataFrame[order_id: string, customer_id: string, city: string, category: string, product: string, amount: string, order_date: string, status: string, city_clean: string, category_clean: string, product_clean: string, amount_clean: string, amount_int: int, order_date_clean: date, order_value_category: string]

PHASE 11 — STORAGE FORMATS

In [50]:
df.write.mode("overwrite").partitionBy("city_clean").parquet("clean_orders_parquet")

In [51]:
rev_city.write.orc("rev_city_orc")

In [52]:

p = spark.read.parquet("clean_orders_parquet")
o = spark.read.orc("rev_city_orc")
p.printSchema()
o.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- status: string (nullable = true)
 |-- category_clean: string (nullable = true)
 |-- product_clean: string (nullable = true)
 |-- amount_clean: string (nullable = true)
 |-- amount_int: integer (nullable = true)
 |-- order_date_clean: date (nullable = true)
 |-- order_value_category: string (nullable = true)
 |-- city_clean: string (nullable = true)

root
 |-- city_clean: string (nullable = true)
 |-- sum(amount_int): long (nullable = true)

4. Parquet/ORC vs CSV

* Columnar
* Compressed
* Much smaller size
* Predicate pushdown
* Way faster for analytics

PHASE 12 — DEBUGGING

Why does this fail?

In [53]:
df = df.filter(df.amount > 50000).show()

{"ts": "2026-01-15 11:19:35.152", "level": "ERROR", "logger": "DataFrameQueryContextLogger", "msg": "[CAST_INVALID_INPUT] The value 'invalid' of the type \"STRING\" cannot be cast to \"BIGINT\" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018", "context": {"file": "line 1 in cell [53]", "line": "", "fragment": "__gt__", "errorClass": "CAST_INVALID_INPUT"}, "exception": {"class": "Py4JJavaError", "msg": "An error occurred while calling o512.showString.\n: org.apache.spark.SparkNumberFormatException: [CAST_INVALID_INPUT] The value 'invalid' of the type \"STRING\" cannot be cast to \"BIGINT\" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018\n== DataFrame ==\n\"__gt__\" was called from\nline 1 in cell [53]\n\n\tat org.apache.spark.sql.errors.QueryExecutionErrors$.invalidInputInCastToNumberError(QueryExecutionErrors.scala:145)\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils$.withException(UTF8StringUtils.scala:51)\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils$.toLongExact(UTF8StringUtils.scala:31)\n\tat org.apache.spark.sql.catalyst.util.UTF8StringUtils.toLongExact(UTF8StringUtils.scala)\n\tat org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)\n\tat org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)\n\tat org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:50)\n\tat scala.collection.Iterator$$anon$9.hasNext(Iterator.scala:583)\n\tat scala.collection.Iterator$$anon$9.hasNext(Iterator.scala:583)\n\tat scala.collection.Iterator$$anon$9.hasNext(Iterator.scala:583)\n\tat scala.collection.Iterator$GroupedIterator.fulfill(Iterator.scala:242)\n\tat scala.collection.Iterator$GroupedIterator.fill(Iterator.scala:263)\n\tat scala.collection.Iterator$GroupedIterator.hasNext(Iterator.scala:265)\n\tat scala.collection.Iterator$$anon$9.hasNext(Iterator.scala:583)\n\tat org.apache.spark.api.python.PythonRDD$.writeNextElementToStream(PythonRDD.scala:333)\n\tat org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$1.writeNextInputToStream(PythonUDFRunner.scala:69)\n\tat org.apache.spark.api.python.BasePythonRunner$ReaderInputStream.writeAdditionalInputToPythonWorker(PythonRunner.scala:844)\n\tat org.apache.spark.api.python.BasePythonRunner$ReaderInputStream.read(PythonRunner.scala:767)\n\tat java.base/java.io.BufferedInputStream.fill(BufferedInputStream.java:244)\n\tat java.base/java.io.BufferedInputStream.read(BufferedInputStream.java:263)\n\tat java.base/java.io.DataInputStream.readInt(DataInputStream.java:381)\n\tat org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:98)\n\tat org.apache.spark.sql.execution.python.BasePythonUDFRunner$$anon$2.read(PythonUDFRunner.scala:90)\n\tat org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:532)\n\tat org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)\n\tat scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:601)\n\tat scala.collection.Iterator$$anon$9.hasNext(Iterator.scala:583)\n\tat scala.collection.Iterator$$anon$9.hasNext(Iterator.scala:583)\n\tat org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage4.processNext(Unknown Source)\n\tat org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)\n\tat org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:50)\n\tat org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:402)\n\tat org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:901)\n\tat org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:901)\n\tat org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)\n\tat org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:374)\n\tat org.apache.spark.rdd.RDD.iterator(RDD.scala:338)\n\tat org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)\n\tat org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:171)\n\tat org.apache.spark.scheduler.Task.run(Task.scala:147)\n\tat org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$5(Executor.scala:647)\n\tat org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:80)\n\tat org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:77)\n\tat org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:99)\n\tat org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:650)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)\n\tat java.base/java.lang.Thread.run(Thread.java:840)\n\tat org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:1009)\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2484)\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2505)\n\tat org.apache.spark.SparkContext.runJob(SparkContext.scala:2524)\n\tat org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:544)\n\tat org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:497)\n\tat org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:58)\n\tat org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.$anonfun$executeCollect$1(AdaptiveSparkPlanExec.scala:402)\n\tat org.apache.spark.sql.execution.adaptive.ResultQueryStageExec.$anonfun$doMaterialize$1(QueryStageExec.scala:325)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withThreadLocalCaptured$4(SQLExecution.scala:322)\n\tat org.apache.spark.sql.execution.SQLExecution$.withSessionTagsApplied(SQLExecution.scala:272)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withThreadLocalCaptured$3(SQLExecution.scala:320)\n\tat org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:94)\n\tat org.apache.spark.sql.execution.SQLExecution$.$anonfun$withThreadLocalCaptured$2(SQLExecution.scala:316)\n\tat java.base/java.util.concurrent.CompletableFuture$AsyncSupply.run(CompletableFuture.java:1768)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)\n\tat java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)\n\tat java.base/java.lang.Thread.run(Thread.java:840)\n", "stacktrace": [{"class": null, "method": "deco", "file": "/usr/local/lib/python3.12/dist-packages/pyspark/errors/exceptions/captured.py", "line": "282"}, {"class": null, "method": "get_return_value", "file": "/usr/local/lib/python3.12/dist-packages/py4j/protocol.py", "line": "327"}]}}

NumberFormatException: [CAST_INVALID_INPUT] The value 'invalid' of the type "STRING" cannot be cast to "BIGINT" because it is malformed. Correct the value as per the syntax, or change its target type. Use `try_cast` to tolerate malformed input and return NULL instead. SQLSTATE: 22018
== DataFrame ==
"__gt__" was called from
line 1 in cell [53]

Because:

* .show() returns None
* You assign None back to df
* df is no longer a DataFrame

Correct usage:

In [57]:
from pyspark.sql.functions import trim, col, initcap, regexp_replace, when, coalesce, try_to_timestamp, lit

# Re-apply cleaning steps to ensure df is in a consistent state with amount_int correctly processed
df = df_raw.withColumn("city", trim(col("city"))) \
           .withColumn("category", trim(col("category"))) \
           .withColumn("product", trim(col("product")))

df = df.withColumn("city_clean", initcap(col("city"))) \
       .withColumn("category_clean", initcap(col("category"))) \
       .withColumn("product_clean", initcap(col("product")))

df = df.withColumn(
    "amount_clean",
    regexp_replace("amount", ",", "")
)

df = df.withColumn(
    "amount_clean",
    when(col("amount_clean").rlike("^[0-9]+$"), col("amount_clean")).otherwise(None)
)

df = df.withColumn("amount_int", col("amount_clean").cast("int"))

df = df.withColumn(
    "order_date_clean",
    coalesce(
        try_to_timestamp(col("order_date"), lit("yyyy-MM-dd")),
        try_to_timestamp(col("order_date"), lit("dd/MM/yyyy")),
        try_to_timestamp(col("order_date"), lit("yyyy/MM/dd"))
    ).cast("date")
)

df = df.dropDuplicates(["order_id"])

# Now perform the filter operation
df = df.filter(df.amount_int > 50000)
df.show()

+-----------+-----------+---------+-----------+-----------+------+----------+---------+----------+--------------+-------------+------------+----------+----------------+
|   order_id|customer_id|     city|   category|    product|amount|order_date|   status|city_clean|category_clean|product_clean|amount_clean|amount_int|order_date_clean|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+----------+--------------+-------------+------------+----------+----------------+
|ORD00000010|    C000010|Bangalore|    Grocery|      Sugar| 66576|2024-01-11|Completed| Bangalore|       Grocery|        Sugar|       66576|     66576|      2024-01-11|
|ORD00000011|    C000011|  Kolkata|Electronics|     Tablet| 50318|12/01/2024|Completed|   Kolkata|   Electronics|       Tablet|       50318|     50318|      2024-01-12|
|ORD00000012|    C000012|Bangalore|    Grocery|      Sugar| 84768|2024-01-13|Completed| Bangalore|       Grocery|        Sugar|       84768|     84768|      2024-01-13|
|ORD00000014|    C000014|   Mumbai|Electronics|     Tablet| 79469|2024-01-15|Completed|    Mumbai|   Electronics|       Tablet|       79469|     79469|      2024-01-15|
|ORD00000015|    C000015|     Pune|Electronics|     Mobile| 81018|2024-01-16|Completed|      Pune|   Electronics|       Mobile|       81018|     81018|      2024-01-16|
|ORD00000017|    C000017|bangalore|    Grocery|        Oil| 69582|2024-01-18|Completed| Bangalore|       Grocery|          Oil|       69582|     69582|      2024-01-18|
|ORD00000025|    C000025|Bangalore|       Home|AirPurifier| 58248|2024-01-26|Completed| Bangalore|          Home|  Airpurifier|       58248|     58248|      2024-01-26|
|ORD00000028|    C000028|   Mumbai|    Grocery|      Sugar| 70675|2024-01-29|Completed|    Mumbai|       Grocery|        Sugar|       70675|     70675|      2024-01-29|
|ORD00000030|    C000030|     Pune|       Home|AirPurifier| 52112|2024-01-31|Completed|      Pune|          Home|  Airpurifier|       52112|     52112|      2024-01-31|
|ORD00000031|    C000031|  Chennai|    grocery|        Oil| 51151|2024-02-01|Completed|   Chennai|       Grocery|          Oil|       51151|     51151|      2024-02-01|
|ORD00000032|    C000032|  Chennai|       Home|     Vacuum| 75797|2024-02-02|Completed|   Chennai|          Home|       Vacuum|       75797|     75797|      2024-02-02|
|ORD00000039|    C000039|     Pune|    Grocery|        Oil| 73088|2024/02/09|Completed|      Pune|       Grocery|          Oil|       73088|     73088|      2024-02-09|
|ORD00000040|    C000040|    Delhi|    Grocery|        Oil| 81145|2024-02-10|Cancelled|     Delhi|       Grocery|          Oil|       81145|     81145|      2024-02-10|
|ORD00000042|    C000042|    Delhi|       Home|     Vacuum| 83855|2024-02-12|Completed|     Delhi|          Home|       Vacuum|       83855|     83855|      2024-02-12|
|ORD00000043|    C000043|Hyderabad|       Home|AirPurifier| 82061|2024-02-13|Completed| Hyderabad|          Home|  Airpurifier|       82061|     82061|      2024-02-13|
|ORD00000044|    C000044|    Delhi|    Grocery|      Sugar| 64841|14/02/2024|Completed|     Delhi|       Grocery|        Sugar|       64841|     64841|      2024-02-14|
|ORD00000048|    C000048|  Kolkata|    Fashion|      Jeans| 51000|2024-02-18|Completed|   Kolkata|       Fashion|        Jeans|       51000|     51000|      2024-02-18|
|ORD00000061|    C000061|Hyderabad|       Home|AirPurifier| 54290|2024-01-02|Completed| Hyderabad|          Home|  Airpurifier|       54290|     54290|      2024-01-02|
|ORD00000066|    C000066|  Chennai|Electronics|     Mobile| 78373|07/01/2024|Completed|   Chennai|   Electronics|       Mobile|       78373|     78373|      2024-01-07|
|ORD00000067|    C000067|  Chennai|       Home|AirPurifier| 88927|2024-01-08|Completed|   Chennai|          Home|  Airpurifier|       88927|     88927|      2024-01-08|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+----------+--------------+-------------+------------+----------+----------------+
only showing top 20 rows

PHASE 13 — FINAL VALIDATION

In [58]:
df.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- status: string (nullable = true)
 |-- city_clean: string (nullable = true)
 |-- category_clean: string (nullable = true)
 |-- product_clean: string (nullable = true)
 |-- amount_clean: string (nullable = true)
 |-- amount_int: integer (nullable = true)
 |-- order_date_clean: date (nullable = true)

In [59]:
df.filter("city_clean IS NULL or category_clean IS NULL or product_clean IS NULL").count

<bound method DataFrame.count of DataFrame[order_id: string, customer_id: string, city: string, category: string, product: string, amount: string, order_date: string, status: string, city_clean: string, category_clean: string, product_clean: string, amount_clean: string, amount_int: int, order_date_clean: date]>

3. Documentation Summary

Cleaning Strategy

* Keep original columns
* Trim + proper case
* Clean amounts safely
* Parse multi-format dates
* Handle invalid rows gently

Performance Strategy

* Partitioning
* Broadcast join
* Cache only when needed
* Avoid shuffles
* File formats Parquet/ORC

Debugging Learnings

* .show() destroys DataFrames
* Always separate transformations and actions
* Schema inference can corrupt data